/*
Main style's file
*/
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

:root {
	--body_bg: black;
	--main_color: #ffd900;
	--center_width: 1600px;
	--main_font: "Lemonada", cursive;
}

/*====================================================
						SETTINGS
====================================================*/
body {
	background-color: var(--body_bg);
	padding: 0;
	margin: 0;
}

.center {
	width: 100%;
	max-width: var(--center_width);
	margin: 0 auto;
}

/*====================================================
						HEADER
====================================================*/

header {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.header__in {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	max-width: 147px;
	font-size: 30px;
	color: var(--main_color);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-family: var(--main_font);
}

.header__menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header__menu li {
	display: inline-block;
	vertical-align: middle;
}

.header__menu a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--main_color);
	padding: 0 35px;
	font-family: var(--main_font);
	transition: all 0.3s ease;
}

.header__menu li.active a,
.header__menu a:hover {
	color: #b49c13;
}

.header__menu li:last-child a {
	padding-right: 0;
}

/*================================================
					BANNERS
================================================*/

#banners {
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 900px;
}

.banners__container {
	position: relative;
	z-index: 2;
	display: flex;
	padding-top: 100px;
}

.banners__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.banners__img img {
	width: 100%;
	height: 100%;
	opacity: 30%;
}

.banners__text {
	margin: 100px 0px 0px 0px;
	font-family: var(--main_font);
	color: var(--main_color);
	font-size: 61px;
	font-weight: bold;
}

.banners__text h2 {
	font-size: 40px;
}

/*=============================================
				RESERVATION
=============================================*/

.reservation {
	float: right;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
}

.reservation h1 {
	color: var(--main_color);
	font-size: 40px;
	text-align: center;
	font-family: var(--main_font);
	margin: 0;
}

#name,
#email {
	height: 50px;
	width: 392px;
	font-family: var(--main_font);
}

#message {
	width: 394px;
	height: 75px;
	resize: none;
	font-family: var(--main_font);
}

.reserv__name,
.reserv__email,
.reserv__message {
	padding-bottom: 45px;
}

.reserv__btn {
	width: 400px;
	height: 60px;
	background-color: black;
	border-color: var(--main_color);
	border-width: 1px;
	color: var(--main_color);
	cursor: pointer;
	font-size: larger;
	font-family: var(--main_font);
}

.text__center {
	color: white;
	text-align: center;
	font-family: var(--main_font);
	font-size: 20px;
}

/*=============================================
				CARDS MENU
=============================================*/

.categories {
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin-top: 100px;
	margin-bottom: 100px;
}

.categories a {
	text-decoration: none;
}

.card {
	height: 380px;
	width: 350px;
	box-sizing: border-box;
	border-color: var(--main_color);
}

.card img {
	width: 100%;
	height: 320px;
	margin: 0;
	display: block;
	border-radius: 10px;
}

.card__title {
	text-align: center;
	margin: 0;
	color: var(--main_color);
	background-color: #000;
	font-family: var(--main_font);
	font-size: 29px;
	border: 1px solid;
	border-color: var(--main_color);
	border-radius: 10px;
}

/*===========================================
				ABOUT US
===========================================*/

.info {
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 900px;
}

.main__container {
	position: relative;
	z-index: 2;
}

.info__block {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.info__title,
.info__text {
	color: var(--main_color);
	font-family: "PT Serif", serif;
	margin: auto;
	/* margin: 0px 0px 0px 0px; */
}

.info__title {
	font-size: 100px;
}

.info__text {
	height: 720px;
	width: 900px;
	margin-top: 100px;
	background-color: rgba(53, 53, 53, 0.75);
	border-radius: 10px;
	font-size: 19px;
	text-align: center;
}

.text {
	padding: 10px 10px 10px 10px;
}

.info__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.info__img img {
	width: 100%;
	height: 100%;
	opacity: 30%;
}

/*===============================================
					EVENTS
===============================================*/

.events__container {
	position: relative;
	width: 1400px;
	height: 700px;
	overflow: hidden;
}

.event__carousel {
	display: flex;
	height: 100%;
}

.event__slide {
	min-width: 100%;
	position: relative;
}

.carousel__img {
	min-width: 100%;
	position: relative;
}

.carousel__img img {
	width: 100%;
	height: 100%;
}

.event__text {
	color: var(--main_color);
	text-align: center;
	font-family: var(--main_font);
	font-size: 50px;
}

.event__info {
	position: relative;
	z-index: 2;
	margin: auto;
	top: 70%;
	width: 400px;
	height: 175px;
	background-color: black;
	border-radius: 15px;
	border: 1px solid;
	border-color: var(--main_color);
}

.event__info-block {
	position: absolute;
	bottom: 0;
	display: inline-block;
	left: 20%;
}

.event__title,
.event__description,
.event__date,
.event__time,
.event__price {
	font-family: var(--main_font);
}

.event__title {
	font-size: xx-large;
	text-align: center;
	color: var(--main_color);
}
.event__description {
	color: rgba(255, 255, 255, 0.534);
	text-align: center;
}
.event__date {
	color: var(--main_color);
	padding-right: 20px;
}
.event__time {
	color: var(--main_color);
}
.event__price {
	color: white;
	font-size: x-large;
	padding-right: 20px;
}

.slide-controls {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#next-btn,
#prev-btn {
	cursor: pointer;
	/* background: transparent; */
	font-size: 30px;
	border: none;
	padding: 10px;
	color: white;
}
#next-btn:focus,
#prev-btn:focus {
	outline: none;
}
