{% extends 'base.html' %}

{% block content %}

<section id="banners">
	{% for item in banners %}
	<div class="banners__img"><img src="{{ item.photo.url }}" alt></div>
	<div class="container center">
		<div class="banners__text">
			<h2>{{ item.title }}</h2>
		</div>
		{% endfor %}
		<div class="reservation">
			<form name="sendMessage" id="contactForm" novalidate action="" method="post">
				{% csrf_token %}
				<h1>Reservation</h1>
				<div class="reserv">
					<div class="reserv__name">
						{{ form.user_name }}
					</div>
					<div class="reserv__email">
						{{ form.user_email }}
					</div>

					<div class="reserv__message">
						{{ form.message }}
					</div>
				</div>
				<button type="submit" class="reserv__btn">Book now</button>
			</form>
		</div>
	</div>
</section>

<section id="menu">
	<div class="text__center">Discover <br /> Our Menu</div>
	<div class="categories center">
		{% for item in categories %}
		<a href="#">
			<div class="card">
				<img src="{{ item.photo.url }}" alt="">
				<h1 class="card__title">{{ item.title }}</h1>
			</div>
		</a>
		{% endfor %}
	</div>
</section>

<section id="about-us">
	<div class="info">
		{% for item in info %}
		<div class="info__img"><img src="{{ item.photo.url }}" alt></div>
		<div class="info__block center">
			<div class="info-title">{{ item.title }}</div>
			<div class="info-text">
				<div class="text">
					{{ item.discription|linebreaksbr }}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>


<section id="events">

</section>


<div class="box">

</div>


{% endblock %}