{% extends 'base.html' %}

{% block content %}

<section id="banners">
	{% for item in banners %}
	<div class="banners__img"><img src="{{ item.photo.url }}" alt></div>
	<div class="container center">
		<div class="banners__text">
			<h2>{{ item.title }}</h2>
		</div>
		{% endfor %}
		<div class="reservation">
			<form name="sendMessage" id="contactForm" novalidate action="" method="post">
				{% csrf_token %}
				<h1>Reservation</h1>
				<div class="reserv">
					<div class="reserv__name">
						{{ form.user_name }}
					</div>
					<div class="reserv__email">
						{{ form.user_email }}
					</div>

					<div class="reserv__message">
						{{ form.message }}
					</div>
				</div>
				<button type="submit" class="reserv__btn">Book now</button>
			</form>
		</div>
	</div>
</section>

<div class="text__center">Discover <br /> Our Menu</div>

<section id="menu">
	<div class="categories center">
		{% for item in categories %}
		<a href="#">
			<div class="card">
				<img src="{{ item.photo.url }}" alt="">
				<h1 class="card__title">{{ item.title }}</h1>
			</div>
		</a>
		{% endfor %}
	</div>
</section>

<section id="events">
	<h1 class="text-center text-uppercase">Events</h1>
	<div class="container">
		<div class="row">
			{% for item in events %}
			<div class="col-xs-12 col-sm-6">
				<div>
					<div>
						<h3 class="text-center">{{ item.title }}</h3>
					</div>
					<div>
						<p>{{ item.description }}</p>
					</div>
					<div>
						<p>{{ item.event_date }}</p>
					</div>
					<div>
						<p>{{ item.event_time }}</p>
					</div>
					<div>
						<p class="text-center">{{ item.price }} &#8372</p>
					</div>
					{# <div><img src="{{ item.photo.url }}" alt></div>#}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


<div class="box">

</div>


{% endblock %}