{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href={% static "css/main.css" %}>
	<title>GUSTO</title>
</head>

<body>
	<header class="header">
		<div class="header__in center">
			<a href="#" class="header__logo">
				Gusto
			</a>
			<nav class="header__menu">
				<ul>
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#menu">Menu</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Events</a></li>
				</ul>
			</nav>
		</div>
	</header>


	{% block content %}

	{% endblock %}


	<footer>
		<nav class="navbar navbar-light bg-light">
			<ul class="nav">
				<li class="nav-item">
					<p class="nav-link active" aria-current="page" href="#">Gusto</p>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/Valihun/restaurant-Gusto.git">Github</a>
				</li>
			</ul>

		</nav>
	</footer>
</body>

</html>