.wrapper {
	height: calc(100% - 40px);
	width: 100%;
	background: black;
	margin-top: 60px;
	overflow: hidden scroll;

	.messages__title {
		font-size: 30px;
		color: #ffd900;
		font-family: "Lemonada", cursive;
		padding-top: 10px;
		text-align: center;
	}

	.messages__body {
		margin: 0px 0px 30px 0px;
		max-width: 640px;
		display: grid;
		margin: 60px auto;
		grid-template-columns: 300px 300px;
		grid-template-rows: 300px 300px;
		grid-row-gap: 40px;
		grid-column-gap: 40px;
		// grid-gap: 3vw;
		justify-content: unset;

		.messages__row {
			position: relative;
			width: 300px;
			height: 300px;
			font-family: "Lemonada", cursive;
			font-size: 20px;
			color: #ffd900;
			// margin: 10px 0px 20px 0px;
			border: 2px solid #ffd900;
			border-radius: 10%;

			.message__name {
				font-size: 20px;
				text-align: center;
				padding-bottom: 10px;
				padding-top: 10px;
				font-weight: 700;
			}
			.mesasge__email {
				font-size: 14px;
				text-align: center;
			}
			.message__date {
				font-size: 16px;
				padding: 0px 0px 20px 0px;
				text-align: center;
			}
			.message__text {
				height: 160px;
				width: 295px;
				font-size: 14px;
				display: inline-block;
				padding: 0px 10px;
				overflow: hidden;
			}
			.message__processed {
				position: absolute;
				bottom: 0;
				left: calc(50% - 55px);
				padding-bottom: 20px;
				& > a {
					cursor: pointer;
					color: #968214;
				}
			}
		}
		@media (max-width: 1300px) {
			& {
				max-width: 640px;
				display: grid;
				margin: 60px auto;
				grid-template-columns: 300px 300px;
				grid-template-rows: 300px 300px;
				grid-row-gap: 40px;
				grid-column-gap: 40px;
				// grid-gap: 3vw;
				justify-content: unset;
			}
		}

		@media (max-width: 767px) {
			& {
				width: 350px;
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
				.messages__row {
					height: 350px;
					width: 350px;

					& img {
						height: 300px;
					}
				}
			}
		}

		@media (max-width: 410px) {
			& {
				display: grid;
				width: 300px;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
			}
			.messages__row {
				height: 300px;
				width: 300px;
				& img {
					height: 250px;
				}
			}
		}

		@media (max-width: 322px) {
			& {
				display: grid;
				width: 260px;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
			}
			.messages__row {
				height: 260px;
				width: 260px;
				& img {
					height: 210px;
				}
			}
		}
	}

	.nav {
		width: 100%;
		height: 40px;
		text-align: center;

		.pagination {
			display: inline-block;
		}
		.page__link,
		.sr__only {
			color: #ffd900;
		}
	}
}
